// 布局样式
.app-layout {
    padding: .5rem;
    
    @media (min-width: 768px) {
        padding: 0;
    }
}

.main-content {
    min-width: 0;
    
    @media (min-width: 768px) {
        margin-left: calc(250px + 1rem);
        padding: .5rem;
        max-width: 900px;
    }
}

// 页眉和页脚
header {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;

    h1 {
        margin: 0;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

footer {
    margin-top: 4rem;
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
    color: var(--text-secondary);
    font-size: 0.9rem;
}
