{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<article class="post">
    <header class="post-header card">
        {% if page.extra.cover %}
        <div class="card-cover">
            <img src="{{ page.extra.cover }}" alt="{{ page.title }} cover">
        </div>
        {% endif %}
        
        <div class="header-content">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="post-meta">
                {% if page.extra.author %}
                <span class="author">{{ page.extra.author }}</span>
                {% endif %}
                <time datetime="{{ page.date }}">{{ macros::locale_date(date=page.date) }}</time>
                {% if page.taxonomies.tags %}
                <span class="tags">
                    {% for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="post-content card">
        {{ page.content | safe }}
    </div>
</article>
{% endblock content %}
